#navContainer {
    padding: 20px 0 0;
    border-bottom: 1px solid #000000;
    background: #dddddd;
}

#navigation ul {
    padding: 0 0 5px;
}

#navigation li {
    display: inline;
}

#navigation a:link, #navigation a:visited {
    text-decoration: none;
    background: #bbbbbb;
    border: 1px solid #898989;
    padding: 5px 10px;
    position: relative;
    margin-right: 5px;
}

#navigation a:hover {
    text-decoration: underline;
    background: #cccccc;
}

a:link, 
a:visited, 
{
    background: #ffffff;
    border-bottom-color: #ffffff;
}